<p class="lead">
<center>This is <b><%=global.target%></b>:<br/><br/>
<image src="<%=global.baseURL%><%=global.targetPick%>.jpg"></image>
<br/><br/>
You will see him again throughout the study.</center>
</p>














