<p class="lead">
In the first part of the study, you will read about <%=global.target%>'s typical behaviors. 
The behaviors you will read were conducted by <%=global.target%> in two separate environments: with his family or at his work.<br/><br/>
Please, form an impression of <%=global.target%>, based on his behaviors.
</p>






