<p class="lead">
You reached the final part of the study. <br/><br/>
Soon, we will tell you what this study was all about and provide you your personal feedback. 
<br/><br/><br/>
The final task is to write down <u>as many of <%=global.target%>’s behaviors as you can remember</u>.<br/>
Press 'Continue'.
</p>













