<p>
Thank you for observing the first set of photos and for answering some questions. Next, we will show you another set in 40 steps. 
Afterwards, we will ask you a few questions about the photos. At the end of the study, we will explain what this task is all about.</p>







