<p>
In this study, you will complete three short tasks, and answer a few questions. At the end of the study, we will provide you with personal feedback. 
The study should take about 12 minutes to complete.<br/><br/></p>







